<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<description>Plot service</description>
		<display-name>Plotter service</display-name>
		<servlet-name>plotServlet</servlet-name>
		<servlet-class>org.usemon.gui.server.servlet.PlotServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>plotServlet</servlet-name>
		<url-pattern>/plotServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<!-- The welcome page will redirect the user to the GWT module's entry point -->
		<welcome-file>/hello.jsp</welcome-file>
	</welcome-file-list>
</web-app>
